.header{
    display: flex;
    justify-content: center;
}
.logo{    
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login{
    padding: 15px;
    background: linear-gradient(to right, rgba(4, 182, 184, 0.95) 0%, rgba(27, 83, 106, 0.95) 100%);
}
.container1{ 
    display: flex;
    margin-top: 0px;
    background: rgba(255,255, 255, 0.2);
    width: 350px;
    height: 350px;
    border-radius: 10px;  
    justify-content: center; 
   

}


.botoes{
    margin-top: 15px;
}

.btn{
    width: 245px;
    margin-right: 10px;
    
}
.link{
    margin-top: 5px;
    color: #000;
}
.footer{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #222222;
}